/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
a {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
  letter-spacing: 10px;
}
h2 {
  font-size: 3.2rem;
  letter-spacing: 2px;
}
h3 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 10%;
}
h4 {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
}
p {
  font-size: 1.6rem;
  line-height: 1.8;
}
a {
  font-size: 1.8rem;
  letter-spacing: 5px;
  text-decoration: none;
  color: #ECECEC;
}
header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #080808;
}
header h1 {
  color: #FFAB5C;
  font-weight: bold;
  padding-bottom: 0.5%;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
  }
}
@media (max-width: 500px) {
  header h1 {
    width: 100%;
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  header h4 {
    font-size: 1rem;
  }
}
.headerNav {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-right: 5%;
  padding-bottom: 0.7%;
}
@media (max-width: 500px) {
  .headerNav {
    width: 100vw;
    margin: 0 auto;
    padding-left: 1%;
  }
}
.headerNav a {
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
}
.headerNav a:hover {
  color: #FFAB5C;
}
.Logo {
  margin-top: 0.5%;
  margin-left: 1%;
  margin-bottom: 1%;
}
@media (max-width: 500px) {
  .Logo {
    margin: 0 auto;
    margin-top: 10%;
  }
}
#signIn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10;
  right: 0;
  width: 18%;
  color: #ECECEC;
}
@media (min-width: 1920px) {
  #signIn {
    width: 13%;
  }
}
@media (max-width: 500px) {
  #signIn {
    width: 45%;
  }
}
@media (max-width: 375px) {
  #signIn {
    width: 50%;
  }
}
@media (max-width: 320px) {
  #signIn {
    width: 60%;
  }
}
#signIn a {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
}
@media (max-width: 500px) {
  #signIn a {
    font-size: 1rem;
  }
}
#signIn a:hover {
  color: #FFAB5C;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  background-color: #080808;
}
footer p {
  font-size: 1.2rem;
  color: #ECECEC;
}
footer .footerNav {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
footer .footerNav a:hover {
  color: #FFAB5C;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (max-width: 500px) {
  footer .footerNav {
    width: 100vw;
    margin: 0 auto;
    padding-left: 1%;
    padding-right: 1%;
  }
}
.Container {
  display: flex;
  align-items: center;
  height: 80vh;
  background-color: #ECECEC;
}
@media (max-width: 500px) {
  .Container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 140vh;
  }
}
.CTA Img {
  border-radius: 50%;
  height: 70%;
  width: 60%;
  margin-left: 18%;
}
@media (max-width: 500px) {
  .CTA Img {
    height: 50vh;
    width: 80vw;
    margin: 0 auto;
  }
}
.CTA Img:hover {
  opacity: 0.7;
}
.CTAInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
  width: 120%;
  margin-right: 15%;
}
@media (max-width: 500px) {
  .CTAInfo {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 50%;
    width: 95%;
  }
}
.CTAInfo .Button {
  display: flex;
  justify-content: center;
  height: 10%;
}
.CTAInfo #CTAButton {
  width: 35%;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  border: solid #FFAB5C 3px;
  background-color: #080808;
}
@media (max-width: 500px) {
  .CTAInfo #CTAButton {
    width: 40vw;
    height: 5vh;
  }
}
.CTAInfo #CTAButton:hover {
  background-color: #FFAB5C;
  border: solid #080808 3px;
  color: #080808;
}
.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  height: 230vh;
  justify-content: space-evenly;
  align-content: space-evenly;
  background-color: #ECECEC;
}
.aboutContainer #subHeading {
  position: absolute;
  font-weight: bold;
  margin-top: 5%;
}
.aboutContainer .Card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
  height: 50vh;
  border-radius: 20px;
  background-color: #080808;
}
.aboutContainer .Card img {
  border-radius: 50%;
  height: 20vh;
  width: 12vw;
  border: solid #ECECEC 2px;
}
.aboutContainer .Card h3 {
  color: #ECECEC;
}
.aboutContainer .Card p {
  color: #ECECEC;
  margin-right: 20px;
  margin-left: 20px;
}
.aboutContainer .Card:hover {
  opacity: 0.7;
}
