footer {
    .footerStyle();

    @media @large-phone {
        display: flex;
        justify-content: space-evenly;
    }

    .footerNav {
        @media @large-phone {
            width: 100vw;
            margin: 0 auto;
            padding-left: 1%;
            padding-right: 1%;
        }
    }
}// this closes the footer